@model TenantSettingModel
@using System.Linq
@using System.Reflection
@using NewLife.Cube.Areas.Admin.Models
@using NewLife.Cube.Entity
@using XCode;
@using XCode.Configuration;
@{
    var atts = HtmlHelper.AnonymousObjectToHtmlAttributes(null);
    atts.Add("class", "multiselect");
    atts.Add("id", "Tenants");

    var tenantId = ViewData["TenantId"]?.ToInt();
}
<div class="form-horizontal">
    @await Html.PartialAsync("_User_Nav")
</div>
<div class="form-horizontal">
    @using (Html.BeginForm("TenantSetting", "User"))
    {
        <div class="form-group">
            <label class="control-label col-xs-5 text-right">用户名</label>
            <div class="col-xs-6">
                <input readonly="" type="text" value="@Model.UserName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-5 text-right">当前租户</label>
            <div class="col-xs-6">
                @Html.DropDownList("TagTenantId", new SelectList(Model.Tenants, "Key", "Value", tenantId), "请选择", atts)
            </div>
        </div>
        <div class="clearfix form-actions">
            <label class="control-label col-xs-5"></label>
            <button type="submit" class="btn btn-success btn-sm"><i
                    class="glyphicon glyphicon-save"></i><strong>保存</strong></button>
            <button type="button" class="btn btn-danger btn-sm" onclick="history.go(-1);"><i
                    class="glyphicon glyphicon-remove"></i><strong>取消</strong></button>
        </div>
    }
</div>